  .Header{
    background-color: #222;
    height: 320px;
    padding: 20px;
    color: white;
    padding-bottom: 150px;
    margin-bottom: 10px;
  }

  .Menu{
    background-color: #222;
    color: white;
    margin-top: 20px;
  }

  .Logo img {
      animation: App-logo-spin infinite 20s linear;
      height: 100px;
  }
  
  .Login{
    text-align: end;
    margin-right: 300px;
  }

  .Buscador{
  }

  .Buscador input{
    width: 700px;
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .menu {
      margin: 0;
      padding: 0;
      list-style: none;
      width: auto;
  }

  .menu li{
    display: inline-block;
    padding-right: 18px;
    width: auto;
  }

  .menu li a{
    text-decoration: none;
    color: #CCC;
  }

  .menu li a:hover{
    color: #EEE;
  }